.header-right .logo:hover{
    cursor: pointer;
}

.header-right span:hover {
    background-color: #004bb5;
    cursor: pointer;
}

.header-right img:hover{
    background-color: #004bb5;
    cursor: pointer;
}

.header-right img {
    width: 24px;
    height: 24px;
}