.captions {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.captions p {
  margin: 0;
  color: #000;
  font-weight: 700;
  text-align: left;
}

.grey_color {
  color: #666565;
}
